@import url('https://fonts.googleapis.com/css?family=El+Messiri');

html {
  box-sizing: border-box;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  font-family: 'El Messiri', sans-serif;
  


  &::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://images2.imgbox.com/79/66/q4b8r0hu_o.jpg') 0 0/cover no-repeat;
    z-index: -1;
  }
}


.card {
  position: relative;
  max-width: 17em;
  margin: 2rem auto;
  padding: 2em;
  background: #fff;
}
.Card{
    display: flex;
    width: 100%;
}
.card__title {
  margin: 0 auto 1em;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

.card__img {
  display: block;
  width: 20em;
  max-width: 100%;
  margin: 1em auto;
  border-radius: 2px;
}

.card__text {
  margin: 2em 5%;
  color: #646464;
}

.card__btn {
  display: table;
  padding: .7em 4em;
  background: #ddba76;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em auto 0;
}



/**
 * Card #13
 */

.card--13 {

  --mouseX13: 0;
  --mouseY13: 0;

  overflow: hidden;

  .card__title {
    transition: transform .3s ease-in-out;
  }

  .card__img {
    transition: all .3s ease-in-out;
  }

  &:hover {

    .card__title {
      transform: translate3d(222px,137px,0) scale(10);
      background: url(https://images2.imgbox.com/d0/0e/BHm9u6Oo_o.jpg) no-repeat fixed calc(var(--mouseX13) * 10px) calc(var(--mouseY13) * 10px)/cover;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
    }

    .card__img {
      opacity: 0;
      transform: scale(0);
    }

  }
}
